body {
    background-color: rgb(84, 164, 235);
}

h1{

    background: url(img/bg.jpg) no-repeat center top;
}   
h1 {
    color: rgb(120, 184, 48);
    text-align: center;

}
#highlight {
    background-color: aqua;
}
            
    
