body {
    background: url(img/bg.jpg) no-repeat center top;

    

h1 {
    color: rgb(121, 185, 47);
    text-align: center;






}
#highlight {
    background-color: rgb(139, 218, 185);
    
        display: flex;
    
        flex-direction: row;
        gap: 20px;
     
        
}
}